{% extends "base.html" %}

{% block content %}
<!-- index.html content starts here -->
<div class="container-fluid">
    {% if user.is_authenticated %}
    <div class="row">
        <div class="col-md-4 offset-md-4 text-center">
            <a href="{% url 'idea_form' %}" class="text-decoration-none btn background-orange">Share an Idea!</a>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-2 text-center">
            <a class="btn background-orange" href="{% url 'account_signup' %}">Register now to join our amateur inventors community!</a>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for idea in idea_list %}
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <div class="image-flash">
                                    <p class="author">Author: {{ idea.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'idea_detail' idea.slug %}" class="text-decoration-none">
                                <h2 class="card-title">{{ idea.title }}</h2>
                            </a>

                            <hr>
                            <p class="card-text text-muted h6">{{ idea.created_on}}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-12 mb-5"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}